<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
      <class name="automation_code_7th.Walmart"/>
      <class name="automation_code_7th.Costco"/>
      <class name="automation_code_7th.Rediff"/>
      <class name="automation_code_7th.Flipcart"/>
      <class name="automation_code_7th.Amazon"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
